.game-container {
    margin:12px auto;
    padding:20px;
    text-align: center;
    color:white;
}

.game-playbar {
    background-color: white;
}
.bg-green {
    background-color:bisque
}
.bg-gray {
    background-color: grey;
}
.game-playbar {
    align-items: center;
    display: flex;
    justify-content: center;
}