.playingTable {
    background: url(../../assets/images/woodback.jpeg);
    box-shadow: inset 3px 3px 22px #000;
}
.table-card-text {
    text-align: center;
    color:white;
    padding: auto;
    font-size: 14px;
}